html, body {
    margin: 0;
    padding: 1%;
}

h1 {
    font-size: 3em;
    text-align: center;
    padding: 1em;
    font-family: serif;
}

#searchBar {
    font-size: 1em;
}

#map {
    width: 600px;
    height: 600px;
    padding-left: 15px;
    padding-right: 15px;
}

#search {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}

.distilleryTitle {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: underline;
}

.distilleryTitle:hover {
    color: blue;
    text-decoration: underline;
}

.distilleryBullet {
    padding-top: 0.5em;
}

@media screen and (min-width: 1200px) {
    body {
        margin: 0px auto;
        width: 1200px;
    }
}

@media screen and (max-width: 991px) {
    body {
        margin: 0px auto;
        width: 90%;
    }

    #dropdown {
        display: block;
        margin: 0px auto;
    }

    #map {
        margin: 0px auto;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
    };
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    body {
        margin: 0px;
    }

    #map {
        height: 300px;
    }
}